In [1]:
print("Hello world")

Hello world

In [2]:
a=5
b=3
c=2
print((a+b*b)/c)

7.0

In [4]:
a=5
b=3.5
c=3+5j
d='sumitha'
print(d)
for i in d:
    print(i)

sumitha
s
u
m
i
t
h
a

In [5]:
d='sanjay'
print(type(d))

<class 'str'>

In [10]:
a=5
b=4.2
c='sathish'
d=4+5j
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [13]:
a=[1,23,45,678]
print(type(a))

<class 'list'>

In [14]:
t=(3,5,7,8)
print(type(t))

<class 'tuple'>

In [16]:
s={'sathish','pugazh','sachin'}
print(type(s))

<class 'set'>

In [19]:
d={5:6}
print(type(d))

<class 'dict'>

In [21]:
a=5
b=4.2
c='sathish'
d=4+5j
l=[1,23,45,678]
t=(3,5,7,8)
s={'sathish','pugazh','sachin'}
dic={5:6}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(l))
print(type(t))
print(type(s))
print(type(dic))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [26]:
print("He is {} years old".format(18))

He is 18 years old

In [28]:
name='Mike'
age=18
if name=='Mike':
    print('Hi,Peter')
elif age>15:
    print("Your age is greater then 15")
else:
    print("your age is less then 15")

Hi,Peter

In [29]:
var=15
while var<20:
    print('Hi Sathish')
    var+=1

Hi Sathish
Hi Sathish
Hi Sathish
Hi Sathish
Hi Sathish

In [31]:
myStatus = input()
print('Nice to meet you, {}'.format(myStatus))

hello
Nice to meet you, hello

In [35]:
def checkParity(num):
    if(num % 2 == 0):
        print("Number is even")
    else:
        print("Number is odd")
num = 5
checkParity(num)

Number is odd

In [34]:
print("hello")

hello

In [37]:
(45>40)&(3>1)

True

In [38]:
(45>40)|(3>1)

True

In [39]:
def checkParity(num):
    if(num % 2 == 0):
        return "Number is even"
    else:
        return "Number is odd"
num = 4
parity = checkParity(num)
print(parity)

Number is even

In [42]:
def sub(x,y):
    z=x-y
    return z
sub(20,10)

10

In [58]:
if(4%2==0):
    print("The number is Even")
    if(num%4==0):
        print("The number is divisible by 4")
else:
    print("The number is odd")

The number is Even
The number is divisible by 4

In [59]:
305/4

76.25

In [63]:
226/3

75.33333333333333

In [72]:
num=5
for i in range(1,15,1):
    print(num,'X',i,'=',num*i)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60
5 X 13 = 65
5 X 14 = 70